**.orig
*.rbc
*.sassc
.rspec
.sass-cache
/.bundle
/coverage/
/db/*.sqlite3
/log/*
/path
/public/uploads/**
/public/system/**
/public/assets/**
/vendor/assets/**
/vendor/tmp/**
/spec/tmp/**
/tmp
/tmp/*
/vendor/bundle
db/sync.sh
capybara-*.html
pickle-email-*.html
rerun.txt
config/database.yml
config/fog.yml
/solr
