h2 {
  color: #ffffff;
	font: normal 11px Roboto,arial,sans-serif;
}
#bg-color, #fg-color {
  position: relative;
  width: 36px;
  height: 36px;
  background: url(/images/select.png);
}


#bg-color div, #fg-color div {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 30px;
  height: 30px;
  background: url(/images/select.png) center;
}
