!!!
%html
  %head
    %title YallDraw
    = stylesheet_link_tag    'application', :media => 'all'
    = csrf_meta_tags
    %meta{ name: 'description', content: 'YallDraw is a collaborative drawing environment and is where you go to draw with friends.' }

  %body{ 'data-drawing-id' => (@drawing) ? @drawing.id : '' }
    = yield
    = javascript_include_tag "application"
