!!!
%html
  %head
    %title Yall Draw
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags

  %body{ "data-drawing-id" => (@drawing) ? @drawing.id : '' }
    = yield
    = javascript_include_tag "application"
